<h1>Basic module render test</h1>
a: {{a}}, b: {{b}}, c: {{c}}

{{mod "basic" template="data" data="{a: 'a-mod2'}"}}
{{mod "basic" template="data" data="{b: 'b-mod2'}"}}
{{mod "basic" template="data" data=obj}}
