<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{docTitle}}</title>
	<link rel="stylesheet" type="text/css" href="{{static.build.css.external}}">
	<link rel="icon" type="image/png" href="{{static.img}}/68.png" />
	<style>
		ul, li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.item {
			padding-bottom: 1em;
		}
		.subitem {
			padding-top: .7em;
			padding-left: 1.7em;
			font-weight: normal;
			color: #999;
		}
		.name, a.name {
			font-weight: bold;
			color: #eee;
		}
		.subname, a.subname {
			font-weight: bold;
		}
		.pinned + .unpinned::before {
			display: block;
			content: '';
			border-top: 7px dotted #282828;
			margin-bottom: 1em;
		}
		.table {
			display: table;
			width: 85%;
			min-width: 480px;
			max-width: 800px;
		}
		.table-cell {
			display: table-cell;
			border-right: 7px solid #282828;
		}
		.table-cell + .table-cell {
			padding-left: 2%;
		}
	</style>
</head>
<body>
	<h1>{{title}}</h1>
	
	<div class="table">
	
		<div class="table-cell">
			<h2>Views</h2>
			<ul>
			{{#each views}}
				<li class="item{{#if isPinned}} pinned{{else}} unpinned{{/if}}">
					<a class="name" href="/{{name}}">{{name}}</a>
					<small>
						| <a href="/_view/{{name}}?solo">solo</a>
						| <a href="/_view/{{name}}?raw">raw</a>
						{{#if repoUri}} | <a href="{{repoUri}}">repo</a>{{/if}}
					</small>
				</li>
			{{/each}}
			</ul>
		</div>


		<div class="table-cell">
			<h2>Modules</h2>
			<ul>
			{{#each modules}}
				<li class="item name">
					{{name}}
					<small>
						{{#if repoUri}} | <a href="{{repoUri}}">git</a>{{/if}}
						<ul>
						{{#each templates}}
							<li class="subitem">
								<a class="subname" href="/_module/{{../name}}/{{name}}">{{name}}</a>
								| <a href="/_module/{{../name}}/{{name}}?raw">raw</a>
								{{#if repoUri}} | <a href="{{repoUri}}">repo</a>{{/if}}
							</li>
						{{/each}}
						</ul>
					</small>
				</li>
			{{/each}}
			</ul>
		</div>
		
		
		<div class="table-cell">
			<h2>Templates</h2>
			<ul>
			{{#each templates}}
				<li class="item">
					<a class="name" href="/_template/{{name}}">{{name}}</a>
					<small>
						| <a href="/_template/{{name}}?raw">raw</a>
						{{#if repoUri}} | <a href="{{repoUri}}">repo</a>{{/if}}
					</small>
				</li>
			{{/each}}
			</ul>
		</div>
		
	</div>

</body>
</html>