{{#if showUi}}<link rel="stylesheet" href="{{static.prefix}}/test/lib/qunit-1.12.0.css"/> {{/if}}
{{!--<script src="{{static.prefix}}/test/lib/qunit-1.12.0.js"></script>--}}
<script src="{{static.prefix}}/test/lib/qunit-90afd90147.js"></script>
<script src="{{static.prefix}}/test/lib/jquery-iframe.js"></script>
<script src="{{static.prefix}}/dist/test.js"></script>
<iframe id="_xtc-test-frame" style="display: none"></iframe>
<script>
	QUnit.config.altertitle = {{alterTitle}};
	QUnit.config.reorder = {{reorder}}; // is always false
	QUnit.config.scrollTop = false;
</script>

{{#if showUi}}<div id="qunit"></div>{{/if}}
<div id="qunit-fixture"></div>
