{{#if showUi}}<link rel="stylesheet" href="{{static.prefix}}/lib/qunit-1.11.0.css"/> {{/if}}
<script src="{{static.prefix}}/lib/qunit-1.11.0.js"></script>
<script src="{{static.prefix}}/lib/jquery-iframe.js"></script>
<script src="{{static.prefix}}/dist/test.js"></script>
<script>
	QUnit.config.altertitle = {{alterTitle}};
	QUnit.config.reorder = {{reorder}}; // is always false
</script>

{{#if showUi}}<div id="qunit"></div>{{/if}}
<div id="qunit-fixture"></div>
