<h1>Home</h1>

<p>
	Homepage using default template. You can change this in <code>/controllers/index.js</code>.<br>
	The view for this page is located in <code>/views/home.hbs.</code>
</p>

<p>
	You can include a Terrific frontend module with the following very simple syntax:

	<blockquote><code>\{{mod "example"}}</code></blockquote>
</p>

{{mod "example"}}

<p>
	Here's an example showing all available options:

	<blockquote><code>\{{mod "example" template="alternate" skins="alternate, baz" tag="section" id="foo" htmlClasses="test-class" connectors="stats, filter" data="{var1: 'foo'}"}}</code></blockquote>
</p>

{{mod "example" template="alternate" skins="alternate, baz" tag="section" id="foo" htmlClasses="test-class" connectors="stats, filter" data="{var1: 'foo'}"}}

<p>Here's an example using a jQuery plugin from Twitter Bootstrap:</p>

{{mod "bootstrap-carousel"}}

<p>Here's the output from the JS-only module <code>page-controller</code> appending some text here:</p>



