<!doctype html>
<html class="no-js" lang="{{lang}}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<title>{{title}}</title>
	<style>
		{{asset "css"}}{{!-- inline css. the key is defined in config.js --}}
	</style>
	<link rel="stylesheet" type="text/css" href="{{assets.css.external}}">
	<link rel="icon" type="image/png" href="dist/img/site.favicon.png" />
</head>
<body>
	{{mod "nav-main" tag="nav"}}

	{{{body}}}

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		{{asset "js"}}{{!-- inline js. the key is defined in config.js --}}
	</script>
	<script src="{{assets.js.external}}"></script>
	<br>
	{{#env "production"}}{{/env}}
	{{#env "development"}}{{/env}}
</body>
</html>